.myPlugin {
   /*position: relative;*/
}

.newlyConnected {
   float: left;
   padding-right: 100px;
}

.excludedHosts {
   float: left;
   padding-right: 100px;
}

.dhcpUpload {
   float: left;
}

.prevFiles {
   float: left;
   padding-right: 100px;
}

.clear {
   clear: both;
}
